.DemoLayer {
  &.UploadLayer {
    .DemoLayer__tooltip {
      width: 200px;
      line-height: 22px;
      &.comm_tooltip {
        top: 70px;
        right: 580px;
        svg {
          height: 175px;
          position: absolute;
          right: -80px;
          top: -60px;
          transform: rotate(-90deg);
        }
      }
      &.cut_tooltip {
        top: 40vh;
        left: 22%;
        .arrow-demo {
          height: 10vh;
        }
        svg {
          height: 20vh;
        }
      }
      &.clear_tooltip {
        top: 50vh;
        left: 41%;
        .arrow-demo {
          height: 10vh;
          margin-top: 0;
        }
      }
      &.video_tooltip {
        top: 40vh;
        left: 60%;
        .arrow-demo {
          height: 10vh;
        }
        svg {
          height: 20vh;
        }
      }
      &.addC_tooltip {
        top: 50vh;
        left: 79%;
        .arrow-demo {
          height: 10vh;
          margin-top: 0;
        }
      }
      &.videAdd_tooltip {
        top: auto;
        bottom: 7vh;
        left: 50%;
        .arrow-demo {
          position: absolute;
          left: 0;
          top: -50px;
        }
      }
    }
  }
}

@media all and (max-width: 575px){
  .DemoLayer {
    .DemoLayer__title {
      font-size: 14px;
      line-height: 16px;
    }
    .DemoLayer__text {
      font-size: 12px;
      line-height: 14px;
    }
  }
  .DemoLayer.UploadLayer {
    .DemoLayer__tooltip {
      text-align: left;
      font-size: 14px;
      img {
        max-height: none !important;
      }
      &.comm_tooltip {
        right: 45%;
        top: 7vh;
        .arrow-demo {
          left: 75%;
          top: 20px;
          position: absolute;
          transform: rotate(-90deg);
        }
      }
      &.cut_tooltip {
        left: 3%;
        top: 27vh;
        .arrow-demo {
          left: 10px;
          position: relative;
          height: 27vh;
        }
      }
      &.clear_tooltip {
        top: 47vh;
        left: 27%;
        .arrow-demo {
          height: 8vh;
          position: relative;
          top: 0;
        }
      }
      &.video_tooltip {
        top: 37vh;
        left: 44%;
        .arrow-demo {
          position: absolute;
          top: 9vh;
          left: 30%;
          //width: 10vh;
          height: 18.5vh;
          transform: scale(-1,1);
        }
      }
      &.addC_tooltip {
        top: 22vh;
        left: auto;
        right: 0;
        .arrow-demo {
          width: 6vh;
          height: 32vh;
          position: absolute;
          right: 15px;
          margin-top: 30px;
        }
      }
      &.videAdd_tooltip {
        top: 80vh;
        left: 50%;
        .arrow-demo {
          position: absolute;
          left: auto;
          right: 45%;
          top: -37px;
        }
      }
    }
  }
}