.support__form {
  width: 100%;
  margin-top: 15px;
  textarea, {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
    border: 1px solid #D2D5E1;
    border-radius: 5px;
    padding: 15px;
    background-color: #FAFCFE;
    font-family: Montserrat, sans-serif;
    color: black;
    &::placeholder {
      color: #97A0C3;
    }
  }
  label  {
    &:first-child {
      span {
        font-size: 15px;
        font-weight: bold;
        line-height: 19px;
        color: #97A0C3;
      }
    }
    &:last-child {
      span {
        display: inline-block;
        margin: 15px 0;
        font-size: 14px;
        font-weight: 400;
        color: #97A0C3;
      }
    }
  }
  .form__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 20px;
    label {
      flex-basis: 50%;
      select {
        display: block;
        font-size: 16px;
        width: 100%;
        outline: none;
        box-sizing: border-box;
        margin-top: 15px;
        border: 1px solid #D2D5E1;
        border-radius: 5px;
        padding: 5px;
        background-color: #FAFCFE;
        color: #97A0C3;
        option {
          font-size: 16px;
          line-height: 22px;
          background-color: #FAFCFE;
        }
      }
    }
    button {
      flex-basis: 25%;
      background-color: #3B8590;
      border: none;
      border-radius: 5px;
      text-align: center;
      color: white;
      padding: 15px 0;
    }
  }
}

.support__questions {
  margin-top: 15px;
  .support__question--item {
    margin: 15px 0;
    .support__question--title {
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      font-weight: bold;
    }
    .support__question--text {
      margin: 10px 5px;
      font-size: 14px;
      line-height: 18px;
      max-width: 1280px;
      box-sizing: border-box;
    }
  }
}

@media all and (max-width: 575px) {
  .support__form {
    label {
      position: relative;
      display: block;
      span {
        position: absolute;
        top: 3px;
        left: 5px;
        padding: 0 5px;
        font-size: 12px !important;
        background-color: white;
        color: #9B9B9B !important;
        font-weight: normal !important;
      }
    }
    textarea {
      background-color: white;
      border: 1px solid rgba(112, 112, 112, .2);
      font-size: 20px;
      &::placeholder {
        color: #9B9B9B !important;
      }
    }
    .form__bottom {
      flex-direction: column;
      align-items: center;
      label {
        width: 100%;
        select {
          font-size: 18px;
          padding: 15px 7px;
          line-height: 25px;
          background-color: white;
          color: black;
          border: 1px solid rgba(112, 112, 112, .2);
          option {
            background-color: white;
          }
        }
      }
      button {
        margin-top: 15px;
        width: 90%;
        border-radius: 30px;
      }
    }
  }
  .support__questions .support__question--item {
    border-bottom: 1px solid #D8E1F1;
    .support__question--title {
      font-size: 14px;
    }
  }
}