.pay__access--modal, .pay__wall--modal, .style__modal {
  width: 30%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 10px;
  z-index: 17;
  .connectSocial__cross {
    position: fixed;
    top: 15px;
    right: 25px;
    width: 15px;
    height: 15px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      width: 15px;
      height: 15px;
    }
    .connectSocial__cross--arrowLeft {
      display: none;
    }
  }
  h3 {
    margin-top: 70px;
    letter-spacing: 0.00px;
    line-height: 40px;
    color: var(--black);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
  }
  p {
    letter-spacing: 0.00px;
    line-height: 22px;
    color: var(--mine-shaft);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: var(--font-size-s);
  }
  .access__modal--image_block {
    width: 70%;
    margin: 50px auto;
    position: relative;
    img {
      width: 100%;
    }
    h5 {
      position: absolute;
      top: 15px;
      width: 50%;
      right: 15px;
      color: var(--white);
      font-family: "Active-Regular", "Helvetica Neue", sans-serif;
      font-size: 29px;
      letter-spacing: 0.00px;
      line-height: 30px;
    }
    button {
      position: absolute;
      width: 50%;
      border: none;
      bottom: 30px;
      right: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px;
      border-radius: 24px;
      cursor: pointer;
      span {
        white-space: nowrap;
        margin-left: 40px;
      }
      svg {
        width: 20px;
        height: 20px;
        padding: 5px;
        border-radius: 50%;
        background-color: var(--smalt-blue);
        fill: white;
      }
    }
  }
}

.pay__wall--modal {
  overflow-y: auto;
  padding: 0 25px;
  box-sizing: border-box;
  height: calc(100vh - 113px);
  h5 {
    text-align: left;
    letter-spacing: 0.00px;
    line-height: 40px;
    color: rgba(0,0,0,0.5);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
  }
  .modal__plans--block {
    display: flex;
    justify-content: center;
    .modal__plans--item {
      text-align: left;
      cursor: pointer;
      width: 30%;
      margin: 15px 5px;
      padding: 5px 15px 15px;
      border-radius: 10px;
    }
    .modal__plans--price {
      letter-spacing: 0.00px;
      line-height: 40px;
      color: var(--black);
      font-family: "Montserrat", "Helvetica Neue", sans-serif;
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 500;
    }
    .modal__plans--price_total {
      letter-spacing: 0.00px;
      line-height: 20px;
      color: rgba(0,0,0,.5);
      font-family: "Montserrat", "Helvetica Neue", sans-serif;
      font-size: var(--font-size-xs);
      font-weight: 500;
    }
    .modal__plans--title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      strong {
        letter-spacing: 0.00px;
        line-height: 40px;
        color: rgba(0,0,0,.5);
        font-family: "Montserrat", "Helvetica Neue", sans-serif;
        font-size: var(--font-size-xs);
        font-style: normal;
        font-weight: 500;
      }
      .modal__plans--tick {
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        padding: 3px;
        border-radius: 50%;
      }
    }
  }
  .modal__payments, .connectSocial__links {
    display: flex;
    justify-content: center;
    .modal__payments--item {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      width: 15%;
      padding: 15px;
      border-radius: 10px;
      margin: 0 5px;
      cursor: pointer;
      .modal__plans--tick {
        box-sizing: border-box;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        padding: 3px;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      & > svg {
        width: 64px;
        height: 70px;
      }
      &:first-child > svg {
        width: 40px;
        height: 40px;
      }
      &:last-child > svg {
        width: 40px;
        height: 46px;
      }
    }
  }
}

.pay__modal--tick_item,  {
  width: 70%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  .pay__modal--tick_image {
    width: 20px;
    height: 20px;
    padding: 3px;
    background-color: var(--smalt-blue);
    border-radius: 50%;
    margin-right: 15px;
    svg {
      fill: white;
    }
  }
  span {
    letter-spacing: 0.00px;
    line-height: 22px;
    color: var(--mine-shaft);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: var(--font-size-m);
  }
}

.pay__modal--form {
  margin-top: 50px;
  label {
    position: relative;
    img {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .pay__modal--creditCard{
    display: flex;
    flex-wrap: wrap;
  }
  .pay__form--firstName, .pay__form--lastName {
    box-sizing: border-box;
    flex-basis: 48%;
    position: relative;
    span, {
      padding: 0 10px;
      background-color: white;
      position: absolute;
      top: -10px;
      left: 15px;
      letter-spacing: 0.00px;
      line-height: 16px;
      color: var(--star-dust);
      font-family: "Montserrat", "Helvetica Neue", sans-serif;
      font-size: var(--font-size-m);
    }
    input {
      box-sizing: border-box;
      width: 100%;
      border: 1px solid var(--star-dust);
      padding: 15px;
      letter-spacing: 0.00px;
      line-height: 18px;
      color: var(--scarpa-flow);
      font-family: "Montserrat", "Helvetica Neue", sans-serif;
      font-size: var(--font-size-xl);
    }
  }
  .pay__form--firstName {
    margin-right: 20px;
  }
  .pay__form--creditCard, .creditCard__last {
    width: 100%;
    position: relative;
    margin-top: 30px;
    span {
      padding: 0 10px;
      background-color: white;
      position: absolute;
      top: -10px;
      left: 15px;
      letter-spacing: 0.00px;
      line-height: 16px;
      color: var(--star-dust);
      font-family: "Montserrat", "Helvetica Neue", sans-serif;
      font-size: var(--font-size-m);
    }
  }
  .creditCard__last {
    display: flex;
    label {
      box-sizing: border-box;
      position: relative;
      flex-basis: 50%;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
  #creditCard__number, #creditCard__expire, #creditCard__cvv {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--star-dust);
    padding: 15px;
    letter-spacing: 0.00px;
    line-height: 18px;
    color: var(--scarpa-flow);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: var(--font-size-xl);
  }
  #creditCard__expire, #creditCard__cvv {
    width: 100%;
  }
}

.pay__modal--Conditions {
  text-align: left;
  padding: 0 15px;
  p {
    margin-top: 20px;
    letter-spacing: 0.00px;
    line-height: 22px;
    color: var(--mine-shaft);
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    font-size: var(--font-size-m);
  }
}

.pay__modal--submit, button.go__pro {
  border: none;
  width: 80%;
  padding: 25px 0;
  margin: 50px auto;
  background-color: var(--smalt-blue);
  border-radius: 5px;
  letter-spacing: -0.66px;
  line-height: 21px;
  color: var(--white);
  font-family: "CircularStd-Medium", sans-serif;
  font-size: var(--font-size-xxl);
  font-weight: 500;
  cursor: pointer;
}

@media all and (max-width: 1400px){
  .pay__access--modal, .pay__wall--modal, .style__modal {
    width: 40%;
  }
}

@media all and (max-width: 1280px){
  .pay__access--modal, .pay__wall--modal, .style__modal {
    width: 50%;
  }
}

@media all and (max-width: 840px){
  .pay__access--modal, .pay__wall--modal, .style__modal {
    width: 65%;
  }
}

@media all and (max-width: 575px){
  .modal__wrapper {
    top: 5%;
    position: fixed;
  }
  .style__modal {
    width: 90%;
    padding: 0 10px;
    .connectSocial__links {
    }
  }
  .pay__access--modal {
    overflow-y: auto;
  }
  .pay__access--modal, .pay__wall--modal {
    width: 100%;
    transform: none;
    border-radius: 0;
    left: 0;
    top: 40px;
    height: calc(100vh - 40px);
    .connectSocial__cross {
      top: 23px;
      position: absolute;
      left: 20px;
      border: none;
      padding: 5px !important;
      .connectSocial__cross--cancel {
        display: none;
      }
      .connectSocial__cross--arrowLeft {
        display: flex;
      }
    }
    h3 {
      margin-top: 25px;
    }
    .access__modal--image_block {
      width: 90%;
      margin: 15px auto;
      button span {
        margin-left: 15px;
      }
    }
  }
  .pay__modal--tick_item {
    width: 90%;
  }
  button.go__pro, .pay__modal--submit {
    margin: 15px auto;
  }
  .pay__modal--submit {
    width: 100%;
  }
}

