.ShareModal {
  position: absolute;
  width: 30%;
  right: 50px;
  top: 150px;
  //transform: translateY(-50%);
  z-index: 25;
}

.ShareModal__inner {
  border-top: 2px solid var(--smalt-blue);;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: white;
  padding-bottom: 25px;
  border-radius: 0 0 12px 12px;
  strong {
    display: inline-block;
    margin: 25px 0;
  }
  .ShareModal__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    width: 100%;
    align-items: center;
    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 30%;
      margin-bottom: 20px;
      span {
        margin-top: 10px;
        letter-spacing: 0.00px;
        line-height: 22px;
        color: var(--black);
        font-family: Montserrat, Helvetica, sans-serif;
        font-size: var(--font-size-xs);
        font-weight: 500;
      }
    }
    button {
      cursor: pointer;
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65px;
      height: 65px;
      outline: none;
    }
    .ShareModal__buttons--onlyFans {
      svg {
        width: 45px;
      }
    }
    .ShareModal__buttons--download {
      button {
        background-color: var(--smalt-blue);
      }
      svg {
        fill: white;
      }
    }
    .ShareModal__buttons--instagram {
      svg {
        fill: white;
      }
    }
    .ShareModal__buttons--youtube {
      button {
        background-color: #ff0000;
      }
      svg {
        path:nth-child(1) {
          fill: white !important;
        }
        path:nth-child(2) {
          fill: #ff0000 !important;
        }
      }
    }
    .ShareModal__buttons--tiktok {
      button {
        background-color: #ef0043;
      }
      svg {
        fill: white;
      }
    }
  }
  svg {
    width: 25px;
    height: 25px;
  }
}

@media all and (max-width: 575px){
  .ShareModal {
    width: 100%;
    right: 0;
  }
}